AFQ/version.py
*.pyc
*.ipynb_checkpoints
.coverage*
docs/_build
docs/build
docs/source/auto_examples/
docs/source/reference/config.rst
examples/**/*.nii.gz
examples/**/*.trk
examples/**/*.npy
examples/**/*.png
build
dist
.DS_Store
**.sw?
**Untitled.ipynb
docs/source/examples/**/*.ipynb
pip-wheel-metadata
pyAFQ.egg-info
