tbody, tr, td
{
    border: 0 !important;
    height: 100%;
    width: 100%;
}

.sd-card {
    margin-bottom: 20px
}

.sd-card-header {
    text-align: center;
    background-color: white;
    color: #150458 !important;
    font-size: var(--pst-font-size-h5);
    font-weight: bold;

}

.sd-card-footer {
    display: none;
}

.top-image {
    float: left;
    width: 25%;
    height: 100%;
}

.bottom-image {
    float: right;
    width: 25%;
    height: 100%;
    clear: left;
}

.right-arrow {
    float: left;
    width: 10%;
}

.left-arrow {
    float: right;
    width: 10%;
}

/* fitting down arrow */
.reference.internal.image-reference {
    margin-left: 20%;
}

/* fitting right arrows */
.right-arrow.figure.align-default {
    margin-top: 5%;
}

/* fitting left arrows */
.left-arrow.figure.align-default {
    margin-top: 5%;
}

/* fitting bottom images to match top images.. shift bottom rightmost image to the left*/
#id5.bottom-image.figure.align-default {
    margin-right: 5%;
}

.top-image.figure.align-default {
    margin-bottom: 0px;
}

/* Default Set Colors */
.color-blue { color: #1f77b4; }
.color-lightblue { color: #aec7e8; }
.color-green { color: #2ca02c; }
.color-lightgreen { color: #98df8a; }
.color-orange { color: #ff7f0e; }
.color-lightorange { color: #ffbb78; }
.color-brown { color: #8c564b; }
.color-lightbrown { color: #c49c94; }
.color-pink { color: #e377c2; }
.color-lightpink { color: #f7b6d2; }
.color-grey { color: #7f7f7f; }
.color-lightgrey { color: #c7c7c7; }
.color-teal { color: #17becf; }
.color-lightteal { color: #9edae5; }
.color-yellow { color: #bcbd22; }
.color-lightyellow { color: #dbdb8d; }
.color-red { color: #d62728; }
.color-lightred { color: #ff9896; }
.color-gold { color: #f2d94e; }
.color-lightgold { color: #faeaa5; }

/* Callosum Colors */
.color-darkgreen { color: #124730; }
.color-skyblue { color: #87ccee; }
.color-purple { color: #ab459e; }
.color-darkpurple { color: #342187; }
.color-rose { color: #cc666d; }
.color-seagreen { color: #45ab9e; }
.color-paleyellow { color: #decc78; }
.color-darkred { color: #872145; }
